    <footer class="footer">
      <div class="container">
        <div class="footer-wrapper">
          <div class="footer__logo">
            <a href="index.html">
              <img src="img/logo-footer.svg" alt="" />
            </a>
          </div>
          <div class="footer__item">
            <div class="footer__item-contacts">
              <a href="tel:+971-58-533-7773">+971-58-533-7773</a>

              <a href="mailto:Sundaycarrentaluae@gmail.com"
                >Sundaycarrentaluae@gmail.com</a
              >
            </div>
            <div class="footer__item-address">
              <p>
                Office 3701, Concord Tower, Sofouh-2, Dubai, UAEPO Box: 452596
              </p>
            </div>
            <div class="footer__item-socials">
              <a href=""
                ><svg
                  width="32"
                  height="28"
                  viewBox="0 0 32 28"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12.556 18.2412L12.0267 25.6866C12.784 25.6866 13.112 25.3612 13.5053 24.9706L17.056 21.5772L24.4133 26.9652C25.7627 27.7172 26.7133 27.3212 27.0773 25.7239L31.9067 3.09456L31.908 3.09322C32.336 1.09856 31.1867 0.318556 29.872 0.80789L1.48533 11.6759C-0.452007 12.4279 -0.422674 13.5079 1.15599 13.9972L8.41333 16.2546L25.2707 5.70656C26.064 5.18122 26.7853 5.47189 26.192 5.99722L12.556 18.2412Z"
                    fill="#333333"
                  />
                </svg>
              </a>
              <a href="">
                <svg
                  width="32"
                  height="32"
                  viewBox="0 0 32 32"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M16.0053 7.78418C14.9271 7.784 13.8593 7.99626 12.8631 8.40882C11.8668 8.82139 10.9616 9.42617 10.1991 10.1886C9.43667 10.9511 8.83188 11.8563 8.41932 12.8526C8.00676 13.8488 7.7945 14.9166 7.79468 15.9948C7.7945 17.0731 8.00676 18.1409 8.41932 19.1371C8.83188 20.1334 9.43667 21.0386 10.1991 21.8011C10.9616 22.5635 11.8668 23.1683 12.8631 23.5809C13.8593 23.9934 14.9271 24.2057 16.0053 24.2055C17.0836 24.2057 18.1514 23.9934 19.1476 23.5809C20.1439 23.1683 21.0491 22.5635 21.8116 21.8011C22.574 21.0386 23.1788 20.1334 23.5914 19.1371C24.0039 18.1409 24.2162 17.0731 24.216 15.9948C24.2162 14.9166 24.0039 13.8488 23.5914 12.8526C23.1788 11.8563 22.574 10.9511 21.8116 10.1886C21.0491 9.42617 20.1439 8.82139 19.1476 8.40882C18.1514 7.99626 17.0836 7.784 16.0053 7.78418ZM16.0053 21.3242C14.9517 21.3239 13.9217 21.0112 13.0458 20.4257C12.1698 19.8401 11.4871 19.008 11.084 18.0345C10.6809 17.061 10.5755 15.9898 10.7811 14.9564C10.9867 13.923 11.4942 12.9738 12.2392 12.2287C12.9843 11.4837 13.9335 10.9762 14.9669 10.7706C16.0003 10.565 17.0715 10.6704 18.045 11.0735C19.0185 11.4766 19.8506 12.1593 20.4362 13.0353C21.0217 13.9113 21.3344 14.9412 21.3347 15.9948C21.335 16.6948 21.1974 17.388 20.9297 18.0347C20.662 18.6815 20.2695 19.2691 19.7745 19.764C19.2796 20.259 18.6919 20.6515 18.0452 20.9192C17.3985 21.1869 16.7053 21.3245 16.0053 21.3242Z"
                    fill="#333333"
                  />
                  <path
                    d="M22.5973 0.101492C19.6533 -0.0358412 12.3613 -0.0291746 9.41466 0.101492C6.82533 0.222825 4.54133 0.848159 2.7 2.68949C-0.377336 5.76683 0.0159978 9.91349 0.0159978 15.9948C0.0159978 22.2188 -0.330669 26.2695 2.7 29.3002C5.78933 32.3882 9.996 31.9842 16.0053 31.9842C22.1707 31.9842 24.2987 31.9882 26.4787 31.1442C29.4427 29.9935 31.68 27.3442 31.8987 22.5855C32.0373 19.6402 32.0293 12.3495 31.8987 9.40283C31.6347 3.78549 28.62 0.378825 22.5973 0.101492ZM27.2573 27.2642C25.24 29.2815 22.4413 29.1015 15.9667 29.1015C9.3 29.1015 6.62666 29.2002 4.676 27.2442C2.42933 25.0082 2.836 21.4175 2.836 15.9735C2.836 8.60683 2.08 3.30149 9.47333 2.92283C11.172 2.86283 11.672 2.84283 15.948 2.84283L16.008 2.88283C23.1133 2.88283 28.688 2.13883 29.0227 9.53083C29.0987 11.2175 29.116 11.7242 29.116 15.9935C29.1147 22.5828 29.24 25.2722 27.2573 27.2642Z"
                    fill="#333333"
                  />
                  <path
                    d="M24.5413 9.37884C25.601 9.37884 26.46 8.51982 26.46 7.46017C26.46 6.40052 25.601 5.5415 24.5413 5.5415C23.4817 5.5415 22.6227 6.40052 22.6227 7.46017C22.6227 8.51982 23.4817 9.37884 24.5413 9.37884Z"
                    fill="#333333"
                  />
                </svg>
              </a>
              <a href=""
                ><svg
                  width="32"
                  height="32"
                  viewBox="0 0 32 32"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M23.3426 19.0759L23.3306 19.1759C20.3986 17.7146 20.0919 17.5199 19.7133 18.0879C19.4506 18.4812 18.6853 19.3732 18.4546 19.6372C18.2213 19.8972 17.9893 19.9172 17.5933 19.7372C17.1933 19.5372 15.9093 19.1172 14.3893 17.7572C13.2053 16.6972 12.4106 15.3972 12.1759 14.9972C11.7853 14.3226 12.6026 14.2266 13.3466 12.8186C13.4799 12.5386 13.4119 12.3186 13.3133 12.1199C13.2133 11.9199 12.4173 9.9599 12.0839 9.17857C11.7639 8.3999 11.4346 8.49857 11.1879 8.49857C10.4199 8.4319 9.85861 8.44257 9.36394 8.95723C7.21194 11.3226 7.75461 13.7626 9.59594 16.3572C13.2146 21.0932 15.1426 21.9652 18.6679 23.1759C19.6199 23.4786 20.4879 23.4359 21.1746 23.3372C21.9399 23.2159 23.5306 22.3759 23.8626 21.4359C24.2026 20.4959 24.2026 19.7159 24.1026 19.5359C24.0039 19.3559 23.7426 19.2559 23.3426 19.0759Z"
                    fill="#333333"
                  />
                  <path
                    d="M27.36 4.59876C17.108 -5.31191 0.141333 1.87609 0.134667 15.8574C0.134667 18.6521 0.866667 21.3774 2.26133 23.7841L0 32.0001L8.44667 29.7974C18.9867 35.4908 31.9947 27.9308 32 15.8654C32 11.6308 30.3467 7.64542 27.34 4.65076L27.36 4.59876ZM29.336 15.8214C29.328 25.9988 18.156 32.3548 9.32 27.1601L8.84 26.8748L3.84 28.1748L5.18 23.3148L4.86133 22.8148C-0.637334 14.0614 5.68 2.62142 16.096 2.62142C17.8354 2.61705 19.5584 2.95772 21.1653 3.62372C22.7722 4.28973 24.231 5.26783 25.4573 6.50142C26.6903 7.71953 27.6684 9.17103 28.3343 10.7712C29.0002 12.3714 29.3408 14.0882 29.336 15.8214Z"
                    fill="#333333"
                  />
                </svg>
              </a>
            </div>
          </div>
          <div class="footer__item">
            <a href="javascript:void(0)" class="footer__btn" data-micromodal-trigger="lead-modal">Заказать звонок</a>
            <a href="javascript:void(0)" class="footer__btn-catalogue" data-micromodal-trigger="lead-modal">
              <svg
                width="32"
                height="32"
                viewBox="0 0 32 32"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M12 0H2.6668C1.2004 0 0 1.2 0 2.6668V12C0 13.4668 1.2004 14.6668 2.6668 14.6668H12C13.466 14.6668 14.6668 13.4668 14.6668 12V2.6668C14.6668 1.2 13.466 0 12 0ZM12 12H2.6668V2.6668H12V12ZM12 17.3336H2.6668C1.2004 17.3336 0 18.534 0 20V29.3332C0 30.7996 1.2004 32 2.6668 32H12C13.466 32 14.6668 30.7996 14.6668 29.3332V20C14.6668 18.534 13.466 17.3336 12 17.3336ZM12 29.3332H2.6668V20H12V29.3332ZM17.3332 0H24V2.6668H17.3332V0ZM17.3332 10.6668H26.6668V13.3336H17.3332V10.6668ZM17.3332 5.3332H32V8H17.3332V5.3332ZM17.3332 17.3336H32V20H17.3332V17.3336ZM17.3332 28H26.6668V30.6668H17.3332V28ZM17.3332 22.6668H24V25.3332H17.3332V22.6668Z"
                  fill="#333333"
                />
              </svg>
              <span>— Получить каталог</span>
            </a>
          </div>
        </div>
      </div>
      <div class="footer__line"></div>
      <div class="container">
        <div class="footer__menu">
          <ul>
            <li><a href="arenda.html">Аренда</a></li>
            <li><a href="lizing.html">Лизинг</a></li>
            <li><a href="about-us.html">О компании</a></li>
            <li><a href="news.html">Новости</a></li>
            <li><a href="qa.html">FAQ</a></li>
            <li><a href="contacts.html">Контакты</a></li>
          </ul>
        </div>
      </div>
    </footer>
    <!-- footer -->
    <div class="modal micromodal-slide" id="lead-modal" aria-hidden="true">
        <div class="modal__overlay" tabindex="-1" data-micromodal-close>
            <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="lead-modal-title">
                <header class="modal__header">
                    <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
                </header>
                <div class="preorder">
                  <form action="mail.php">
                  <label for="name">Ваше имя</label>
                  <input
                    type="text"
                    id="name"
                    name="name"
                    placeholder="Укажите имя"
                  />
                  <label for="phone">Контактный телефон</label>
                  <input
                    type="phone"
                    id="phone"
                    name="phone"
                    placeholder="ХХХ ХХХ - хх - хх"
                  />
                  <div class="btn-wrapper">
                    <button class="btn-submit">Забронировать</button>
                  </div>
                  <span class="disclaimer"
                    >Нажимая кнопку «Забронировать», вы принимаете условия
                    обработки персональных данных.</span
                  >
                  <input type="hidden" name="referer_url" value="<?php echo esc_url($_SERVER['HTTP_REFERER']); ?>">
                  </form>
                </div>
            </div>
        </div>
    </div>
    <script src="js/bundle.js"></script>
  </body>
</html>