{{> partials/header title="О компании" }}

    <main class="inner">
      <div class="container">
        <div class="breadcrumbs">ГЛАВНАЯ — О компании</div>
      </div>
      <section class="about-us">
        <div class="container">
          <h3 class="title">О компании</h3>
          <div class="about-us-grid">
            <div>
              <p>
                Ищете исчерпывающий и надёжный сервис проката элитных
                автомобилей в Дубае? Не проходите мимо – мы в Sunday
                предоставляем широчайший выбор среди самых люксовых и желанных
                автомобилей в мире. Позвольте себе трепет от управления
                филигранной, комфортной и быстрой машиной. Не важно, посещаете
                ли Вы Дубай по работе или с целью отдыха – Sunday найдёт
                идеальное предложение под Ваш бюджет и потребность..
              </p>
              <p>
                Наш автопарк включает в себя только самые вожделенные
                транспортные средства от таких престижных брендов, как
                <b
                  >Ferrari, Bentley, Lamborghiniu, Rolls-Royce и
                  Mercedes-Benz.</b>
              </p>
            </div>
            <div>
              <img src="img/video-cover.webp" alt="" />
            </div>
          </div>
          <div class="logos">
            <img src="img/brands/lamborghini.webp" alt="" />
            <img src="img/brands/bentley.webp" alt="" />
            <img src="img/brands/ferrari.webp" alt="" />
            <img src="img/brands/rolls.webp" alt="" />
            <img src="img/brands/mercedes.webp" alt="" />
          </div>
        </div>
      </section>
      <section class="advantages">
        <div class="advantages-grid">
          <div class="advantages__card">
            <span>01</span>
            <p>
              Тюнингованные <br />
              автомобили
            </p>
            <img src="img/ferrari.webp" alt="" />
          </div>
          <div class="advantages__card">
            <span>02</span>
            <p>
              Официальная <br />
              лицензия ОАЭ
            </p>
            <img src="img/maserati.webp" alt="" />
          </div>
          <div class="advantages__card">
            <span>03</span>
            <p>
              Страховка <br />
              включена
            </p>
            <img src="img/yount-woman.webp" alt="" />
          </div>
        </div>
      </section>
      <section class="catalogue">
        <div class="container">
          <h3 class="title">Аренда автомобилей</h3>
          <div class="filters">
            <div class="filters__btn">
              <svg
                width="54"
                height="54"
                viewBox="0 0 54 54"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M12.4167 0.75V30.4125C14.1245 31.0151 15.6033 32.1326 16.6494 33.6109C17.6954 35.0893 18.2572 36.8557 18.2572 38.6667C18.2572 40.4777 17.6954 42.2441 16.6494 43.7224C15.6033 45.2008 14.1245 46.3182 12.4167 46.9208V53.25H6.58334V46.9208C4.87554 46.3182 3.39669 45.2008 2.35064 43.7224C1.3046 42.2441 0.742859 40.4777 0.742859 38.6667C0.742859 36.8557 1.3046 35.0893 2.35064 33.6109C3.39669 32.1326 4.87554 31.0151 6.58334 30.4125V0.75H12.4167ZM29.9167 0.75V7.07917C31.6245 7.68176 33.1033 8.79924 34.1494 10.2776C35.1954 11.7559 35.7572 13.5223 35.7572 15.3333C35.7572 17.1443 35.1954 18.9107 34.1494 20.3891C33.1033 21.8674 31.6245 22.9849 29.9167 23.5875V53.25H24.0833V23.5875C22.3755 22.9849 20.8967 21.8674 19.8506 20.3891C18.8046 18.9107 18.2429 17.1443 18.2429 15.3333C18.2429 13.5223 18.8046 11.7559 19.8506 10.2776C20.8967 8.79924 22.3755 7.68176 24.0833 7.07917V0.75H29.9167ZM47.4167 0.75V30.4125C49.1245 31.0151 50.6033 32.1326 51.6494 33.6109C52.6954 35.0893 53.2572 36.8557 53.2572 38.6667C53.2572 40.4777 52.6954 42.2441 51.6494 43.7224C50.6033 45.2008 49.1245 46.3182 47.4167 46.9208V53.25H41.5833V46.9208C39.8755 46.3182 38.3967 45.2008 37.3506 43.7224C36.3046 42.2441 35.7429 40.4777 35.7429 38.6667C35.7429 36.8557 36.3046 35.0893 37.3506 33.6109C38.3967 32.1326 39.8755 31.0151 41.5833 30.4125V0.75H47.4167Z"
                  fill="#B7BDB3"
                />
              </svg>
            </div>
            <div class="filters__description">Выбери свой автомобиль</div>
            <select class="filters__select" name="" id="">
              <option>Показать все категории</option>
              <option value="price-down">По убыванию цены</option>
            </select>
            <select class="filters__select" name="" id="">
              <option>Выбрать марку</option>
              <option value="price-down">BMW</option>
            </select>
          </div>
          <div class="cars-grid">
            <div class="cars__card">
              <div class="cars__card__img">
                <img src="img/ferrari-2.webp" alt="" />
                <span> спортивный </span>
                <div class="cars__card__img-cover">
                  <div><img src="img/icons/key.svg" alt="" /></div>
                  <span>ПОЕХАЛИ</span>
                </div>
              </div>
              <div class="cars__card-body">
                <h4>Ferrari F8 Tributo Spider</h4>
                <div>
                  <span><img src="img/icons/engine.svg" alt="" />3.9-л V8</span>
                  <span><img src="img/icons/horse.svg" alt="" />800 HP</span>
                  <span
                    ><img src="img/icons/direction.svg" alt="" />Задний</span
                  >
                </div>
                <a href="javascript:void(0)" class="btn-order"
                  >Забронировать от $1400 / сутки</a
                >
              </div>
            </div>
            <div class="cars__card">
              <div class="cars__card__img">
                <img src="img/ferrari-2.webp" alt="" />
                <span> спортивный </span>
                <div class="cars__card__img-cover">
                  <div><img src="img/icons/key.svg" alt="" /></div>
                  <span>ПОЕХАЛИ</span>
                </div>
              </div>
              <div class="cars__card-body">
                <h4>Ferrari F8 Tributo Spider</h4>
                <div>
                  <span><img src="img/icons/engine.svg" alt="" />3.9-л V8</span>
                  <span><img src="img/icons/horse.svg" alt="" />800 HP</span>
                  <span
                    ><img src="img/icons/direction.svg" alt="" />Задний</span
                  >
                </div>
                <a href="javascript:void(0)" class="btn-order"
                  >Забронировать от $1400 / сутки</a
                >
              </div>
            </div>
            <div class="cars__card">
              <div class="cars__card__img">
                <img src="img/ferrari-2.webp" alt="" />
                <span> спортивный </span>
                <div class="cars__card__img-cover">
                  <div><img src="img/icons/key.svg" alt="" /></div>
                  <span>ПОЕХАЛИ</span>
                </div>
              </div>
              <div class="cars__card-body">
                <h4>Ferrari F8 Tributo Spider</h4>
                <div>
                  <span><img src="img/icons/engine.svg" alt="" />3.9-л V8</span>
                  <span><img src="img/icons/horse.svg" alt="" />800 HP</span>
                  <span
                    ><img src="img/icons/direction.svg" alt="" />Задний</span
                  >
                </div>
                <a href="javascript:void(0)" class="btn-order"
                  >Забронировать от $1400 / сутки</a
                >
              </div>
            </div>
          </div>
          <a href="javascript:void(0)" class="show-more">Показать ещё</a>
        </div>
      </section>
    </main>
    

{{> partials/footer }}