{{> partials/header title="Лизинг" }}


    <main>
      <section
        class="hero lizing-hero"
        style="background-image: url('img/car-cover2.webp')"
      >
        <div class="container">
          <div class="breadcrumbs">ГЛАВНАЯ — <span>ЛИЗИН</span></div>
          <h1>ДОЛГОСРОЧНАЯ АРЕНДА АВТОМОБИЛЯ ДЛЯ КЛИЕНТОВ</h1>
          <p>
            Ключевая идея нашей компании – предоставить нашим клиентам
            абсолютную свободу выбора автомобиля и сделать процесс получения
            машины максимально простым и безопасным. Мы готовы брать на себя все
            заботы и проблемы, связанные с покупкой, регистрацией и
            обслуживанием автомобилей.
          </p>
        </div>
      </section>
      <section class="scheme">
        <div class="container">
          <h3 class="title">Схема долгосрочной аренды</h3>
          <div id="progress-carousel" class="splide" aria-label="Progress carousel">
            <!-- Add the progress bar element -->
            <div class="progress-carousel-wrapper">
              <div class="progress-carousel">
                <div class="progress-carousel-bar"></div>
              </div>
              <div class="splide__arrows">
                <button class="splide__arrow splide__arrow--prev">
                  <img src="img/arrow-left.svg" alt="" />
                </button>
                <button class="splide__arrow splide__arrow--next">
                  <img src="img/arrow-right.svg" alt="" />
                </button>
              </div>
            </div>
            <div class="splide__track">
              <ul class="splide__list">
                <li class="splide__slide"><div class="grid">
                  <div>
                    <div class="card">
                      <div class="card__header">
                        <div><img src="img/icons/key.svg" alt="" /></div>
                        <span>Выбор авто </span>
                      </div>
                      <div class="card__body">
                        <p>Стоимость: <b>> 50 000 $</b></p>
                        <p>Год выпуска: <b>> 2021</b></p>
                        <a href="" class="card__btn">ПОДОБРАТЬ АВТОМОБИЛЬ</a>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card__header">
                        <div>
                          <img src="img/icons/contract.svg" alt="" />
                        </div>
                        <span>Условия</span>
                      </div>
                      <div class="card__body">
                        <p>
                          Документы:
                          <b>Пасторт, штамп, МВУ </b>или<b>
                            Emirates ID, права ОАЭ</b
                          >
                        </p>
                        <p>Выбор срока аренды: <b>от 12 до 36 месяцев</b></p>
                        <p>
                          Выбор размера первого платежа: <b>от 20% до 50%</b>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="steps">
                      <div class="steps-first">
                        <div class="steps__graphics">
                          <span>КЛИЕНТ</span>
                          <svg
                            width="264"
                            height="36"
                            viewBox="0 0 264 36"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <g clip-path="url(#clip0_37_349)">
                              <path
                                d="M246.102 27.3537L255.228 18.2279L246.102 9.10211L243.294 11.91L247.627 16H236.395V20H247.627L243.294 24.5458L246.102 27.3537Z"
                                fill="#333333"
                              />
                            </g>
                            <rect
                              y="16"
                              width="237"
                              height="4"
                              fill="#333333"
                            />
                            <defs>
                              <clipPath id="clip0_37_349">
                                <rect
                                  width="24.7625"
                                  height="24.7625"
                                  fill="white"
                                  transform="translate(263.02 17.5098) rotate(135)"
                                />
                              </clipPath>
                            </defs>
                          </svg>
                        </div>
                        <div class="steps__text">
                          <p>Первый платеж от <b>20%</b></p>
                          <p>Страховка – <b>3%</b></p>
                          <p>Ежемесячные платежи</p>
                        </div>
                      </div>
                      <img class="steps__img" src="img/logo-black.svg" alt="" />
                      <div class="steps-second">
                        <div class="steps__graphics">
                          <svg
                            width="264"
                            height="36"
                            viewBox="0 0 264 36"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <g clip-path="url(#clip0_145_718)">
                              <path
                                d="M16.9175 7.6662L7.79175 16.792L16.9175 25.9178L19.7255 23.1099L15.3928 19.0199L26.6246 19.0199L26.6246 15.0199L15.3928 15.0199L19.7255 10.4741L16.9175 7.6662Z"
                                fill="#333333"
                              />
                            </g>
                            <rect
                              x="263.02"
                              y="19.0195"
                              width="237"
                              height="4"
                              transform="rotate(-180 263.02 19.0195)"
                              fill="#333333"
                            />
                            <defs>
                              <clipPath id="clip0_145_718">
                                <rect
                                  width="24.7625"
                                  height="24.7625"
                                  fill="white"
                                  transform="translate(0 17.5098) rotate(-45)"
                                />
                              </clipPath>
                            </defs>
                          </svg>

                          <span>АВТО</span>
                        </div>
                        <div class="steps__text">
                          <p>
                            По истечении срока аренды автомобиль передается в
                            собственность клиента
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div></li>
                <li class="splide__slide">Slide 02</li>
              </ul>
            </div>

          </div>

        </div>
      </section>
      <section class="calculator">
        <div class="container">
          <h3 class="title">
            Получите расчет платежей и стоимости автомобиля по вашим параметрам
          </h3>
          <div class="calculator__header">
            <div class="calculator__label">
              <img src="img/icons/calculator.svg" alt="" />
              <span
                >Получите расчёт <br />
                стоимости автомобиля</span
              >
            </div>
            <img src="img/calc-car.svg" alt="" />
          </div>
          <div class="calculator__body">
            <div>
              <form action="" class="calculator__form">
                <div class="input-wrapper">
                  <label for="model">Автомобиль</label>
                  <select name="model" id="model">
                    <option value="">Укажите марку автомобиля</option>
                  </select>
                </div>
                <div class="input-wrapper">
                  <label for="period">Период</label>
                  <div class="range-wrapper">
                    <input
                      class="range"
                      name="period"
                      id="period"
                      data-min="12"
                      data-max="24"
                    />
                  </div>
                </div>
                <div class="input-wrapper">
                  <label for="period">Стоимость</label>
                  <div class="range-wrapper range-wrapper--for-price">
                    <input
                      class="range"
                      name="period"
                      id="period"
                      data-min="1000000"
                      data-step="1000000"
                      data-max="10000000"
                    />
                  </div>
                </div>
                <div class="input-wrapper">
                  <label for="period">Первоначальный платеж</label>
                  <div class="range-wrapper range-wrapper--for-deposit">
                    <input
                      class="range"
                      name="period"
                      id="period"
                      data-min="20"
                      data-step="10"
                      data-max="50"
                    />
                  </div>
                  <div class="range__periods">
                    <img src="img/icons/barcode.svg" alt="" />
                    <span>30</span
                    ><img src="img/icons/barcode.svg" alt="" /><span>40</span
                    ><img src="img/icons/barcode.svg" alt="" />
                  </div>
                </div>
              </form>
              <div class="calculator__disclaimer">
                <div><img src="img/icons/warning.svg" alt="" /></div>
                <p>
                  При соблюдении арендатором своевременности внесения арендных
                  платежей, компания-арендодатель обязуется передать автомобиль
                  в собственность арендатора.
                </p>
              </div>
            </div>
            <div class="preorder">
              <div class="subtitle">Контактные данные</div>
              <form action="mail.php">
                <label for="name">Ваше имя *</label>
                <input
                  type="text"
                  id="name"
                  name="name"
                  placeholder="Укажите имя"
                />
                <label for="phone">Контактный телефон *</label>
                <input
                  type="phone"
                  id="phone"
                  name="phone"
                  placeholder="ХХХ ХХХ - хх - хх"
                />
                <label for="name">Электронная почта</label>
                <input
                  type="text"
                  id="email"
                  name="email"
                  placeholder="Укажите e-mail"
                />
                <div class="btn-wrapper">
                  <button class="btn-submit">Забронировать</button>
                </div>
                <span class="disclaimer"
                  >Нажимая кнопку «Забронировать», вы принимаете условия
                  обработки персональных данных.</span
                >
              </form>
            </div>
          </div>
        </div>
      </section>
    </main>
{{> partials/footer }}