{{> partials/header title="Новости" }}

    <main class="inner">
      <div class="container">
        <div class="breadcrumbs">ГЛАВНАЯ — Новости</div>
      </div>
      <section class="news">
        <div class="container">
          <h3 class="title">Новости</h3>
          <div class="grid">
            <a href="single-news.html" class="card">
              <div class="card__img">
                <img src="img/ferrari-2.webp" alt="" />
                <span> 10.10.2010</span>
                <div class="card__img-cover">
                  <div><img src="img/icons/key.svg" alt="" /></div>
                  <span>ПОДРОБНЕЕ</span>
                </div>
              </div>
              <div class="card__body">
                <p>
                  Мерседес не стал откладывать большое обновление до Гран-при
                  Испании, в отличие от ...
                </p>
              </div>
            </a>
            <a href="single-news.html" class="card">
              <div class="card__img">
                <img src="img/ferrari-2.webp" alt="" />
                <span> 10.10.2010</span>
                <div class="card__img-cover">
                  <div><img src="img/icons/key.svg" alt="" /></div>
                  <span>ПОДРОБНЕЕ</span>
                </div>
              </div>
              <div class="card__body">
                <p>
                  Мерседес не стал откладывать большое обновление до Гран-при
                  Испании, в отличие от ...
                </p>
              </div>
            </a>
            <a href="single-news.html" class="card">
              <div class="card__img">
                <img src="img/ferrari-2.webp" alt="" />
                <span> 10.10.2010</span>
                <div class="card__img-cover">
                  <div><img src="img/icons/key.svg" alt="" /></div>
                  <span>ПОДРОБНЕЕ</span>
                </div>
              </div>
              <div class="card__body">
                <p>
                  Мерседес не стал откладывать большое обновление до Гран-при
                  Испании, в отличие от ...
                </p>
              </div>
            <a/>
          </div>
          <a href="javascript:void(0)" class="show-more">Показать ещё</a>
        </div>
      </section>
    </main>
{{> partials/footer }}
