{{> partials/header title="FAQ" }}

    <main class="inner">
      <div class="container">
        <div class="breadcrumbs">ГЛАВНАЯ — ВОПРОС-ОТВЕТ</div>
      </div>
      <section class="qa">
        <div class="container">
          <h3 class="title">ВОПРОС-ОТВЕТ</h3>
          <div class="accordion-wrapper">
            <div class="accordion">
              <div class="accordion-head">
                <div class="accordion__title">
                  Где и когда была создана команда Ferrari?
                </div>
                <div class="accordion__btn">
                  <svg
                    width="20"
                    height="19"
                    viewBox="0 0 20 19"
                    fill="current"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M10.1017 18.3536L19.2275 9.22784L10.1017 0.10205L7.29381 2.90999L11.6265 6.99994H0.394708V10.9999H11.6265L7.29381 15.5457L10.1017 18.3536Z"
                      fill="current"
                    />
                  </svg>
                </div>
              </div>
              <span></span>
              <div class="accordion__body">
                <p>
                  Этот автомобиль не просто Ferrari F8 Spider, это Ferrari F8
                  Spider с установленным производительным выхлопом и ЭБУ, хотя
                  двигатель дышит полной жизнью. Индивидуальные 21-дюймовые
                  диски в сочетании с низкой подвеской делают внешний вид
                  автомобиля выдающимся. Откройте крышу и почувствуйте рулевое
                  управление и ускорение вождения с Ferrari F8 tributo Spider.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-wrapper">
            <div class="accordion">
              <div class="accordion-head">
                <div class="accordion__title">
                  Где и когда была создана команда Ferrari?
                </div>
                <div class="accordion__btn">
                  <svg
                    width="20"
                    height="19"
                    viewBox="0 0 20 19"
                    fill="current"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M10.1017 18.3536L19.2275 9.22784L10.1017 0.10205L7.29381 2.90999L11.6265 6.99994H0.394708V10.9999H11.6265L7.29381 15.5457L10.1017 18.3536Z"
                      fill="current"
                    />
                  </svg>
                </div>
              </div>
              <span></span>
              <div class="accordion__body">
                <p>
                  Этот автомобиль не просто Ferrari F8 Spider, это Ferrari F8
                  Spider с установленным производительным выхлопом и ЭБУ, хотя
                  двигатель дышит полной жизнью. Индивидуальные 21-дюймовые
                  диски в сочетании с низкой подвеской делают внешний вид
                  автомобиля выдающимся. Откройте крышу и почувствуйте рулевое
                  управление и ускорение вождения с Ferrari F8 tributo Spider.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-wrapper">
            <div class="accordion">
              <div class="accordion-head">
                <div class="accordion__title">
                  Где и когда была создана команда Ferrari?
                </div>
                <div class="accordion__btn">
                  <svg
                    width="20"
                    height="19"
                    viewBox="0 0 20 19"
                    fill="current"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M10.1017 18.3536L19.2275 9.22784L10.1017 0.10205L7.29381 2.90999L11.6265 6.99994H0.394708V10.9999H11.6265L7.29381 15.5457L10.1017 18.3536Z"
                      fill="current"
                    />
                  </svg>
                </div>
              </div>
              <span></span>
              <div class="accordion__body">
                <p>
                  Этот автомобиль не просто Ferrari F8 Spider, это Ferrari F8
                  Spider с установленным производительным выхлопом и ЭБУ, хотя
                  двигатель дышит полной жизнью. Индивидуальные 21-дюймовые
                  диски в сочетании с низкой подвеской делают внешний вид
                  автомобиля выдающимся. Откройте крышу и почувствуйте рулевое
                  управление и ускорение вождения с Ferrari F8 tributo Spider.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
{{> partials/footer }}
