{{> partials/header title="Запись" }}

    <main class="inner">
      <div class="container">
        <div class="breadcrumbs">
          ГЛАВНАЯ — НОВОСТИ — Мерседес не стал откладывать большое обновление до
          Гран-при Испании, в отличие от ...
        </div>
      </div>
      <section class="news single">
        <div class="container">
          <h3 class="title">
            Мерседес не стал откладывать большое обновление до Гран-при Испании,
            в отличие от «Феррари»
          </h3>
          <div class="news__content">
            <div>
              <img class="news__content__img" src="img/ferrari-2.webp" alt="" />
            </div>
            <div>
              <h4 class="subtitle">Подзаголовок</h4>
              <p>
                Этот автомобиль не просто Ferrari F8 Spider, это Ferrari F8
                Spider с установленным производительным выхлопом и ЭБУ, хотя
                двигатель дышит полной жизнью. Индивидуальные 21-дюймовые диски
                в сочетании с низкой подвеской делают внешний вид автомобиля
                выдающимся. Откройте крышу и почувствуйте рулевое управление и
                ускорение вождения с Ferrari F8 tributo Spider.
              </p>
              <p>
                Этот автомобиль не просто Ferrari F8 Spider, это Ferrari F8
                Spider с установленным производительным выхлопом и ЭБУ, хотя
                двигатель дышит полной жизнью. Индивидуальные 21-дюймовые диски
                в сочетании с низкой подвеской делают внешний вид автомобиля
                выдающимся. Откройте крышу и почувствуйте рулевое управление и
                ускорение вождения с Ferrari F8 tributo Spider.
              </p>
            </div>
          </div>
          <p>
            Этот автомобиль не просто Ferrari F8 Spider, это Ferrari F8 Spider с
            установленным производительным выхлопом и ЭБУ, хотя двигатель дышит
            полной жизнью. Индивидуальные 21-дюймовые диски в сочетании с низкой
            подвеской делают внешний вид автомобиля выдающимся. Откройте крышу и
            почувствуйте рулевое управление и ускорение вождения с Ferrari F8
            tributo Spider. Этот автомобиль не просто Ferrari F8 Spider, это
            Ferrari F8 Spider с установленным производительным выхлопом и ЭБУ,
            хотя двигатель дышит полной жизнью. Индивидуальные 21-дюймовые диски
            в сочетании
          </p>
          <span
            >Этот автомобиль не просто Ferrari F8 Spider, это Ferrari F8
            Spider</span
          >
          <ul>
            <li>
              Индивидуальные 21-дюймовые диски в сочетании с низкой подвеской
              делают внешний вид автомобиля выдающимся.
            </li>
            <li>
              Откройте крышу и почувствуйте рулевое управление и ускорение
              вождения с Ferrari F8 tributo Spider.
            </li>
            <li>
              Этот автомобиль не просто Ferrari F8 Spider, это Ferrari F8 Spider
              с установленным производительным выхлопом и ЭБУ, хотя двигатель
              дышит полной жизнью. Индивидуальные 21-дюймовые диски в сочетании
            </li>
          </ul>
        </div>
      </section>
    </main>
{{> partials/footer }}